<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu List</title>
</head>
<style>
    .layout {
         width : 500px;
         margin: 0 auto;
         margin-top: 40px;
    }
    .layout input {
        width : 100%;
        box-sizing: border-box;
        margin-top: 10px;
    }
    .layout select {
        width : 100%;
    }
    .input-height {
        height: 30px;;
    }
    .form-margin-top {
        margin-top: 20px;
    }
</style>
<body>
<div class="layout">
  <table>
    <thead>
    <tr>
      <th>글번호</th>
      <th>제목</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>제목</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>